NODE_ENV=development
PORT=8000
POSTGRES_URL=
POSTGRES_POOL_MAX=

JWT_SECRET=
JWT_ACCESS_EXPIRES=
JWT_REFRESH_EXPIRES=


ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
APPLICATION_TOKEN=
APP_URL=
API_BASE_URL=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_SCOPE=

OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=
OUTLOOK_SCOPE=

SQS_ENDPOINT=
SQS_REGION=
SQS_QUEUE_URL=